.features
  .container
    .features_main
      .features_main_title
        p.light find your
        p.bold holidays
        img(src='assets/img/line-feature.png', alt='news')
      .features_main_form
        form
          .features_main_form_input
            label
              span Where
              input(type='text', placeholder='distination' ).features_main_form_input_from
              i.fa.fa-globe(aria-hidden='true')
          .features_main_form_input
            label
              span When
              input(type='date', placeholder='select date').features_main_form_input_to
              i.fa.fa-calendar(aria-hidden='true')
          .features_main_form_btn
            button(type='submit') Search