#slick_banner.banner
	.banner_item
		.banner_item_link
			.banner_item_link_image(style='background: url(assets/img/slide0.png);background-repeat: no-repeat;background-color:#3fc2b9;background-position: 100%;')
				.container.banner_item_link_image_text
					span.banner_item_link_image_text_big to travel is to live
					span.banner_item_link_image_text_small You Don't Need Magic to Disappear. All you need is a destination.
					a(href='#', target='_blank').banner_item_link_image_btn.banner_item_link_image_btn_big show on the map
					a(href='#', target='_blank').banner_item_link_image_btn.banner_item_link_image_btn_small more info
	.banner_item
		a.banner_item_link(href='')
			.banner_item_link_image(style='background: url(assets/img/slide0.png);background-repeat: no-repeat;background-color:#3fc2b9;background-position: 100%;')
	.banner_item
		.banner_item_link
			.banner_item_link_image(style='background: url(assets/img/slide0.png);background-repeat: no-repeat;background-color:#3fc2b9;background-position: 100%;')
				.container.banner_item_link_image_text
					span.banner_item_link_image_text_big to travel is to live
					span.banner_item_link_image_text_small You Don't Need Magic to Disappear. All you need is a destination.
					a(href='#', target='_blank').banner_item_link_image_btn.banner_item_link_image_btn_big show on the map
					a(href='#', target='_blank').banner_item_link_image_btn.banner_item_link_image_btn_small more info
	.banner_item
		a.banner_item_link(href='')
			.banner_item_link_image(style='background: url(assets/img/slide0.png);background-repeat: no-repeat;background-color:#3fc2b9;background-position: 100%;')
	.banner_item
		.banner_item_link
			.banner_item_link_image(style='background: url(assets/img/slide0.png);background-repeat: no-repeat;background-color:#3fc2b9;background-position: 100%;')
				.container.banner_item_link_image_text
					span.banner_item_link_image_text_big to travel is to live
					span.banner_item_link_image_text_small You Don't Need Magic to Disappear. All you need is a destination.
					a(href='#', target='_blank').banner_item_link_image_btn.banner_item_link_image_btn_big show on the map
					a(href='#', target='_blank').banner_item_link_image_btn.banner_item_link_image_btn_small more info

