footer.footer
  .container
    .footer_main.row
      .col-12.col-sm-6.col-md-6.col-lg-3.col-xl-3
        .footer_main_item
          .footer_main_item_title
            span Newsletter
          .footer_main_item_subscribe
            .subscribe-text
              span Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore.
            .subscribe-form
              form(action='')
                input(type='email', placeholder='Subscribes...', required='')
                button(type='submit') GO
      .col-12.col-sm-6.col-md-6.col-lg-3.col-xl-3
        .footer_main_item
          .footer_main_item_title
            span Latest News
          .footer_main_item_news
            .news-item
              .news-item-image
                img(src='assets/img/news2.png', alt='news')
              .news-item-text
                .news-item-text-title
                  span Postformat Gallery: Multiple images
                .news-item-text-date
                  span October 21, 2013 - 3:31 pm
            .news-item
              .news-item-image
                img(src='assets/img/news1.png', alt='news')
              .news-item-text
                .news-item-text-title
                  span Snowboarding is fun!
                .news-item-text-date
                  span December 12, 2012 - 9:11 pm
      .col-12.col-sm-6.col-md-6.col-lg-3.col-xl-3
        .footer_main_item
          .footer_main_item_title
            span Tags
          .footer_main_item_tags
            ul.tags-list
              li.tags-list-item
                span Agent Login
              li.tags-list-item
                span Costumer Login
              li.tags-list-item
                span Not a member ?
              li.tags-list-item
                span Contact
              li.tags-list-item
                span New Horizonts 
              li.tags-list-item
                span Lanscape
              li.tags-list-item
                span Tags 
              li.tags-list-item
                span Nice
              li.tags-list-item
                span Some
              li.tags-list-item
                span Portrait
      .col-12.col-sm-6.col-md-6.col-lg-3.col-xl-3
        .footer_main_item
          .footer_main_item_title
            span Address
          .footer_main_item_contact
            .contact-text
              p DieSachbearbeiter Schönhauser Allee 
              p 167c,10435 Berlin Germany
              a(href='moin@blindtextgenerator.de') 
                span E-mail: 
                span moin@blindtextgenerator.de
            .contact-links
              a(href='', target='_blank')
                i.fa.fa-facebook(aria-hidden='true')
              a(href='', target='_blank')
                i.fa.fa-twitter(aria-hidden='true')
              a(href='', target='_blank')
                i.fa.fa-twitch(aria-hidden='true')
              a(href='', target='_blank')
                i.fa.fa-pinterest-p(aria-hidden='true')





