header.header
  .container
    .row.header-main
      .d-block.d-sm-block.d-md-none.d-lg-none.d-xl-none.col-2.col-sm-2.burger_nav
        .burger_nav_icons
          <i class="fa fa-bars" aria-hidden="true"></i>
          <i class="fa fa-times" aria-hidden="true"></i>
      .mobile_nav.d-none
        .mobile_nav_pages
          .mobile_nav_pages_title
            span Pages
          ul.mobile_nav_pages_list.row.col-12
            li.mobile_nav_pages_item
              a(href="#") home
            li.mobile_nav_pages_item
              a(href="#") destinations
            li.mobile_nav_pages_item
              a(href="#") cruises
            li.mobile_nav_pages_item
              a(href="#") specials
            li.mobile_nav_pages_item
              a(href="#") holidays
            li.mobile_nav_pages_item
              a(href="#") blog
        .mobile_nav_contacts
          a(href="") <i class="fa fa-map-marker" aria-hidden="true"></i> Schönhauser Allee 167c
          a(href="tel:069967996") <i class="fa fa-phone" aria-hidden="true"></i> 069967996
      .header-logo.header-item
        a(href="#")
          img(src='assets/img/logo.png', alt='logo')
      .header-nav.header-item
        ul.header-nav-list
          li.header-nav-list-item
            a(href="#") home
          li.header-nav-list-item
            a(href="#") destinations
          li.header-nav-list-item
            a(href="#") cruises
          li.header-nav-list-item
            a(href="#") specials
          li.header-nav-list-item
            a(href="#") holidays
          li.header-nav-list-item
              a(href="#") blog
