doctype html
html
    include layout/head
    body
        include layout/header
        include components/slider
        include components/features
        include layout/footer
        include layout/scripts
