doctype html
html
    include layout/head
    body
        include layout/header
        .container
            .row
                .new__project
                    h1 Start New Project
                    h2 hellow world
        include layout/footer
        include layout/scripts